.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: relative;

  appearance: none;
  background-color: #999;
  border: 2px solid #999;
  border-radius: 4px;

  cursor: pointer;
}

.checkbox-input:checked {
  background-color: white;
  border-color: var(--custom-blue);
}
.checkbox-error {
  background-color: rgb(142, 88, 88); 
  border: 2px solid #999;
}
.checkbox-input:checked::after {
  position: absolute;
  top: -3px;
  left: 2px;

  font-size: 14px;
  content: '✓';

  color: var(--custom-blue);
}

.checkbox-label {
  cursor: pointer;
  font-size: 13px;
  color: var(--custom-gray);
}