.checklist {
  display: flex;
}
  
.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
  
.check-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 11px; /* Width of the circle */
  height: 11px; /* Height of the circle */
  margin-right: 10px;

  border-radius: 50%;
  border: 1px solid var(--custom-gray);;

  color: white; /* White check mark */
  background-color: var(--custom-gray); /* Gray background */

  font-size: 10px; /* check mark size */
}
  
.check-icon.completed {
  border-color: var(--custom-lightgreen);
  background-color: var(--custom-lightgreen);
}
.checkbox-label-text {
  font-size: 12px;
  margin-right: 30px;
  color: var(--custom-gray);
}
.checkbox-label-text.completed {
  color: black;
}