.error-message {
    display: flex;
    align-items: flex-start;

    padding: 20px;

    border: 2px solid var(--custom-red);
    border-radius: 4px;

    background-color: var(--custom-lightred);

    font-size: 16px;
}
  
.error-icon {
    margin-right: 10px;

    color: var(--custom-red);
    
    font-size: 20px;
    font-weight: bold;
}