.input-container {
    position: relative;
    width: 100%;
    background-color: var(--custom-lightblue);
    border-radius: 8px;
}

.input-container input {
    width: 100%;
    padding: 20px 10px 6px 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

.floating-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease all;
}

.input-container input:focus + .floating-label {
    top: 10px;
    font-size: 12px;
    color: #000;
}

.has-content{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease all;
    top: 10px;
    font-size: 12px;
    color: #000;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}
  
.toggle-password.visible {
    color: var(--custom-blue);
}

.input-field[type="checkbox"]{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

    width: 10px; /* 調整checkbox寬度 */
    height: 10px; /* 調整checkbox高度 */
    appearance: none; /* 移除瀏覽器預設樣式 */
    background-color: #777; /* 背景顏色 */
    cursor: pointer;
    position: relative;
}