*{
  font-family: 'Interstat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-blue: #3C71FF;
  --custom-red: #D71920;
  --custom-lightred: #F5C4C6;
  --custom-lightblue: #F1F5FF;
  --custom-lightgreen: #4AE7A5;
}
